<p-toast />
<p-confirmDialog />
<!-- updated successfuly toast -->
<p-toast key="updated" />



<p-table [value]="invoices" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="3"
    [rowsPerPageOptions]="[3, 5, 7]">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Total number of items</th>
            <th>Total amount</th>
            <th>Payment Status</th>
            <th>Payment Type</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
        <tr>
            <td>{{ invoice?.id }}</td>
            <td>{{ invoice?.items?.length }}</td>
            <td>{{ calcTotalPrice(invoice) }}</td>
            <td>{{ invoice?.paymentStatus }}</td>
            <td>{{ invoice?.paymentType}}</td>
            <td>
                <ng-container *ngIf="authService.isAdmin()">
                    <!-- Edit -->
                    <app-update-invoice [invoiceDetails]="invoice"
                        (updatedSuccessfuly)="showUpdatedToast(invoice?.id)" />
                    <!-- Delete -->
                    <button class="mx-1" (click)="deleteInvoice(invoice?.id, $event)"><i class="pi pi-trash"
                            style="font-size: 1rem"></i></button>
                </ng-container>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">
                <p>No data to preview</p>
            </td>
        </tr>
    </ng-template>
</p-table>