<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">INVOICE MANAGEMENT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Add your navigation links here -->
            </ul>
            <div class="navbar-text">
                <span class="mr-2 mx-3">Welcome, <span class="bold">{{authService.getUsername()}}</span></span>
                <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>